/.gitattributes export-ignore
/.gitignore export-ignore
/.github export-ignore
/infection.json.dist export-ignore
/fuzzing export-ignore
/phpunit.xml.dist export-ignore
/phpstan.neon.dist export-ignore
/psalm* export-ignore
/tests export-ignore
/build-phar.sh export-ignore
/appveyor.yml export-ignore
/dist export-ignore
/autoload-phpunit.php export-ignore
/autoload-pedantic.php export-ignore
/autoload-fast.php export-ignore
