{
    "source": {
        "directories": [
            "src"
        ]
    },
    "threads": "max",
    "minCoveredMsi": 80,
    "phpUnit": {
        "configDir": "."
    },
    "mutators": {
        "@default": true,
        "PublicVisibility": {
            "ignore": [
                "ParagonIE_Sodium_Compat::base642bin",
                "ParagonIE_Sodium_Compat::bin2base64",
                "ParagonIE_Sodium_Compat::compare",
                "ParagonIE_Sodium_Compat::crypto_aead_aegis128l_decrypt",
                "ParagonIE_Sodium_Compat::crypto_aead_aegis128l_encrypt",
                "ParagonIE_Sodium_Compat::crypto_aead_aegis128l_keygen",
                "ParagonIE_Sodium_Compat::crypto_aead_aegis256_decrypt",
                "ParagonIE_Sodium_Compat::crypto_aead_aegis256_encrypt",
                "ParagonIE_Sodium_Compat::crypto_aead_aegis256_keygen",
                "ParagonIE_Sodium_Compat::crypto_aead_aes256gcm_is_available",
                "ParagonIE_Sodium_Compat::crypto_aead_aes256gcm_keygen",
                "ParagonIE_Sodium_Compat::crypto_aead_aes256gcm_encrypt",
                "ParagonIE_Sodium_Compat::crypto_aead_aes256gcm_decrypt",
                "ParagonIE_Sodium_Compat::crypto_aead_chacha20poly1305_encrypt",
                "ParagonIE_Sodium_Compat::crypto_aead_chacha20poly1305_decrypt",
                "ParagonIE_Sodium_Compat::crypto_aead_chacha20poly1305_keygen",
                "ParagonIE_Sodium_Compat::crypto_auth_keygen",
                "ParagonIE_Sodium_Compat::crypto_box_keypair",
                "ParagonIE_Sodium_Compat::crypto_generichash_keygen",
                "ParagonIE_Sodium_Compat::crypto_kdf_keygen",
                "ParagonIE_Sodium_Compat::crypto_secretbox",
                "ParagonIE_Sodium_Compat::crypto_secretbox_keygen",
                "ParagonIE_Sodium_Compat::crypto_secretbox_open",
                "ParagonIE_Sodium_Compat::crypto_secretstream_xchacha20poly1305_keygen",
                "ParagonIE_Sodium_Compat::crypto_secretstream_xchacha20poly1305_rekey",
                "ParagonIE_Sodium_Compat::crypto_shorthash_keygen",
                "ParagonIE_Sodium_Compat::crypto_sign_keypair_from_secretkey_and_publickey",
                "ParagonIE_Sodium_Compat::crypto_sign_publickey",
                "ParagonIE_Sodium_Compat::crypto_sign_secretkey",
                "ParagonIE_Sodium_Compat::crypto_stream_keygen",
                "ParagonIE_Sodium_Compat::increment",
                "ParagonIE_Sodium_Compat::memcmp",
                "ParagonIE_Sodium_Compat::randombytes_uniform",
                "ParagonIE_Sodium_Core_AES::bitsliceDecryptBlock",
                "ParagonIE_Sodium_Core_AES::bitsliceEncryptBlock",
                "ParagonIE_Sodium_Core_AES::rotr16",
                "ParagonIE_Sodium_Core_AES_Block::swap2",
                "ParagonIE_Sodium_Core_AES_Block::swap4",
                "ParagonIE_Sodium_Core_AES_Block::swap8",
                "ParagonIE_Sodium_Core_AES_Block::swapN",
                "ParagonIE_Sodium_Core_AEGIS128L::init",
                "ParagonIE_Sodium_Core_AEGIS256::init",
                "ParagonIE_Sodium_Core_Ristretto255::scalarmult_ristretto255",
                "ParagonIE_Sodium_Core_Ristretto255::scalarmult_ristretto255_base"
            ]
        }
    },
    "logs": {
        "text": "infection.log"
    }
}
